<div class="fluid-container">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>

    <div class="panel panel-info">
        <div ng-show="title" class="panel-heading">
            <h3 class="panel-title">{{ title }}</h3>
        </div>
        <div class="panel-body">
            <div class="row">

                <div class="col-md-5">
                    <a href="#" ng-click="fbLogin()"><img src="http://techulus.com/buttons/fb.png"/></a><br/>
                    <a href="#" ng-click="twLogin()"><img src="http://techulus.com/buttons/tw.png"/></a><br/>
                    <a href="#" ng-click="gpLogin()"><img src="http://techulus.com/buttons/gplus.png"/></a><br/>
                    <a href="#" ng-click="emLogin()"><img src="http://techulus.com/buttons/gplus.png"/></a>
                </div>

                <div class="col-md-7" style="border-left:1px solid #ccc;height:160px">
                    <form class="form-horizontal">
                        <fieldset style="display:none">

                            <input id="textinput" name="textinput" type="text" placeholder="Enter User Name"
                                   class="form-control input-md">
                            <div class="spacing"><input type="checkbox" name="checkboxes" id="checkboxes-0"
                                                        value="1">
                                <small> Remember me</small>
                            </div>
                            <input id="textinput" name="textinput" type="text" placeholder="Enter Password"
                                   class="form-control input-md">
                            <div class="spacing"><a href="#">
                                <small> Forgot Password?</small>
                            </a><br/></div>
                            <button id="singlebutton" name="singlebutton" class="btn btn-info btn-sm pull-right">
                                Sign In
                            </button>


                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
